---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ModelCard from '../components/ModelCard.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to {SITE_TITLE}!</h1>
			<p>
				{SITE_DESCRIPTION}
			</p>

			<section>
				<ModelCard
				  img="//handmodels.com/wp-content/uploads/2022/08/image-20.png"
				  name="Adele Uddo"
				  website={{
	                            href: "http://adeleuddo.com/",
                                    text: "adeleuddo.com",
                                  }}
				>	
				  <p class="mb-2">Adele Uddo is a parts model who promotes businesses and doubles for celebrities in the United States. Uddo grew raised in a commune in California. She dropped out of school to seek a career as a model...</p>
				</ModelCard>

				<ModelCard
				  img="//handmodels.com/wp-content/uploads/2022/08/1.jpg"
				  name="Paul B"
				  website={{
				    href: "https://handmodel.co.uk",
				    text: "handmodel.co.uk",
				  }}
				>
				  <p class="mb-2">Paul B started his modelling career as a commercial model, appearing in adverts for brands like Right Guard and now he is one of the most successful male hand models in the world.</p>
				  <p class="mb-2">His one-in-a-million hands have been featured in ads for De Beers, Haig Club, Sprite, Breitling, KFC, McDonald's, Nivea and Cartier.</p>
				  <p class="mb-2">Paul B Portfolio of high-class brands under his belt gives him the reputation of a No1 hand throb.</p>
                                </ModelCard>
			</section>
		</main>
		<Footer />
	</body>
</html>
