---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ModelCard from "../components/ModelCard.astro";
import YouTubeCard from "../components/YouTubeCard.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <header
        class="bg-gradient-to-r from-purple-500 via-blue-500 to-green-500 py-10"
      >
        <div
          class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-w-screen-lg"
        >
          <h1
            class="text-white text-4xl md:text-5xl font-bold tracking-tighter"
          >
            Discover HandModels.com!
          </h1>
          <p class="text-white mt-4 text-lg">
            {SITE_DESCRIPTION}
          </p>
        </div>
      </header>
      <div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-w-screen-lg">
        <section aria-label="Featured Models">
          <h2 class="text-3xl font-bold mb-4">Featured Models</h2>
          <div class="grid gap-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
            <!-- Add ModelCard components with placeholder content -->
            <ModelCard
              img="//via.placeholder.com/300x200"
              name="Model 1"
              website={{
                href: "https://www.example.com/model1",
                text: "example.com/model1",
              }}
            />
            <ModelCard
              img="//via.placeholder.com/300x200"
              name="Model 2"
              website={{
                href: "https://www.example.com/model2",
                text: "example.com/model2",
              }}
            />
            <ModelCard
              img="//via.placeholder.com/300x200"
              name="Model 3"
              website={{
                href: "https://www.example.com/model3",
                text: "example.com/model3",
              }}
            />
          </div>
        </section>
        <section aria-label="Hand Models">
          <h2 class="text-3xl font-bold mb-4">Talent</h2>
          <!-- Models -->
          <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
            <div class="cursor-pointer group">
              <div
                class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-video"
              >
                <ModelCard
                  img="//handmodels.com/wp-content/uploads/2022/08/image-20.png"
                  name="Adele Uddo"
                  website={{
                    href: "http://adeleuddo.com/",
                    text: "adeleuddo.com",
                  }}
                >
                  <p class="mb-2">
                    Adele Uddo is a parts model who promotes businesses and                   doubles for celebrities in the United States. Uddo grew up in a commune in California. She dropped out of school to pursue a career as a model...
                  </p>
                </ModelCard>
              </div>
            </div>

            <div class="cursor-pointer group">
              <div
                class="relative overflow-hidden transition-all bg-gray-100 rounded-md dark:bg-gray-800 hover:scale-105 aspect-video"
              >
                <ModelCard
                  img="//handmodels.com/wp-content/uploads/2022/08/1.jpg"
                  name="Paul B"
                  website={{
                    href: "https://handmodel.co.uk",
                    text: "handmodel.co.uk",
                  }}
                >
                  <p class="mb-2">
                    Paul B started his modelling career as a commercial model, appearing in adverts for brands like Right Guard and now he is one of the most successful male hand models in the world.
                  </p>
                  <p class="mb-2">
                    His one-in-a-million hands have been featured in ads for De Beers, Haig Club, Sprite, Breitling, KFC, McDonald's, Nivea, and Cartier.
                  </p>
                  <p class="mb-2">
                    Paul B's portfolio of high-class brands under his belt gives him the reputation of a No1 hand throb.
                  </p>
                </ModelCard>
              </div>
            </div>
          </div>
        </section>
        <section aria-label="Hand Model Articles">
          <!-- Articles -->
          <h2 class="text-3xl font-bold mb-4 mt-10">Articles</h2>
          <div
            class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3"
          >
            {
              articles.map((post) => (
                <ArticleCard
                  title={post.data.title}
                  href={`/blog/${post.slug}/`}
                  pubDate={post.data.pubDate}
                  heroImage={post.data.heroImage}
                />
              ))
            }
          </div>
        </section>
        <section aria-label="Hand Model Videos">
          <!-- Videos -->
          <h2 class="text-3xl font-bold mb-4 mt-10">Hand Model Videos</h2>

          <div
            class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-3 xl:grid-cols-3"
          >
            <YouTubeCard id="EUvgqItrt1c" />
            <YouTubeCard id="39y1BFi_iA4" />
            <YouTubeCard id="8v1fknfErGY" />
          </div>
        </section>
      </div>
    </main>
    <Footer />
  </body>
</html>
